body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

p {
    text-indent: 30px;
    text-align: left;
    line-height: 1.2;
}

table,
th,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
   }


img {
    width: 25px;
    height: 25px;
}
